
C311/stack_skobki/stack_skobki
C311/stack_postfix/stack_postfix
C311/stack_postfix/stack_postfix-2
C311/stack_postfix_log/stack_postfix_log
C317/list_02/list_02
C317/list_01/list_01
C317/list_2/list_2
C317/list_3/list_3
C316/bit_0/bit_0
